body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #DFDFDF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Table hover actions */
body
table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.button {
    opacity: 0;
}

tr:hover .button {
    opacity: 1;
}


.btn {
    opacity: 1;
    transition: 0.5s;
}

    .btn:hover {
        opacity: 0.6;
    }
    