@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    
    <div class="row align-items-center my-5 ">
        <!--Üyeler Butonu-->
        <div class="col-lg-3 py-5 mx-5 btn"  onclick="location.href = '@Url.Action("Index", "Uye")';" style="background-color: #ff1a1a; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h4 class="text-center fw-bold"
                        style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        ÜYELER
                    </h4>
                    <p class="text-center fw-thin"
                       style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        50
                    </p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--Kitaplar Butonu-->
        <div class="col-lg-3 py-5 mx-5 btn" style="background-color: #9edf2c; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="white" class="bi bi-book-fill" viewBox="0 0 16 16">
                        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                    <h4 class="text-center fw-bold"
                        style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        KİTAPLAR
                    </h4>
                    <p class="text-center fw-thin"
                       style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        50
                    </p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--Hareketler Butonu-->
        <div class="col-lg-3 py-5 mx-5 btn" style="background-color: #00a0ff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            <div class="row ">
                <div class="col-2"></div>
                <div class="col-8 text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="white" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                    <h4 class="text-center fw-bold"
                        style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        HAREKETLER
                    </h4>
                    <p class="text-center fw-thin"
                       style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                        Aktif 20 ödünç
                    </p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>